/* /* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap");
body,
html {
    font-family: "Lato", sans-serif;
}
.secondNavbar {
    background-color: #023e8a;
}
.firstNavbar {
    background-color: #023e8a;
    color: white;
}

.secondLink {
    /* font-weight: bold; */
    font-size: 18px;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: black;
    padding: 20px 0px;
    /* margin: 0px 20px; */
    display: inline-block;
    position: relative;
    opacity: 0.9;
}
.secondLink:hover {
    opacity: 1;
    color: #023e8a;
}

.secondLink::before {
    transition: 300ms;
    height: 5px;
    content: "";
    color: #023e8a;
    position: absolute;
    background-color: #023e8a;
}

.secondLink-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.secondLink-grow-up:hover::before {
    height: 10px;
}
.links {
    /* font-weight: bold; */
    font-size: 18px;
    /* text-transform: uppercase; */
    text-decoration: none;
    color: white;
    padding: 20px 0px;
    /* margin: 0px 20px; */
    display: inline-block;
    position: relative;
    opacity: 0.9;
}

.links:hover {
    opacity: 1;
    color: white;
}
.activeLink {
    color: white;
}
.activeLink::before {
    border-bottom: 10px solid white;
    color: white;
    height: 10px;
    content: "";
}

.links::before {
    transition: 300ms;
    height: 5px;
    content: "";
    color: white;
    position: absolute;
    background-color: white;
}

.links-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.links-grow-up:hover::before {
    height: 10px;
}

.cardProductPage {
    background-color: #023e8a;
    color: white;
    font-weight: bold;
}
.cardProductPage:hover {
    transform: scale(1.1);
    transition: 300ms;
}

.footer {
    background-color: #023e8a;
    color: white;
}
.fontFooter {
    color: #e8e8e8;
}
.status {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    background: #219653;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
}
