/* /* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url("https://fonts.googleapis.com/css?family=Montserrat"); */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap");
body,
html {
    font-family: "Lato", sans-serif;
}
.links:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.links:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.links {
    display: inline-block;
    position: relative;
    color: #0087ca;
}
.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: 0e2954;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 0.9;
}

.nav-link:hover {
    opacity: 1;
}

.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #0e2954;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}

.nav-link-grow-up:hover::before {
    height: 10px;
}
